# 1. Operators

In [38]:
#Assignment operators
5/2

2.5

In [5]:
5%2

1

In [6]:
2<3

True

In [7]:
2>3

False

In [11]:
#assigment operator
3=3

SyntaxError: can't assign to literal (<ipython-input-11-2b99c12d78a9>, line 2)

In [12]:
#logocal equalto opertaor
3==3

True

In [13]:
3!=2

True

In [14]:
#Logical Operators
#and operator
s=True
t=False
print(s and t)

False

In [15]:
#or operator
s=True
t=False
print(s or t)

True

In [16]:
#not opertaor
not(s)

False

In [17]:
not(t)

True

In [18]:
#Bitwise & Operator 
s=2    #binary 0010
t=4    #binary 0100
       #-----------
s&t    #add    0000

0

In [21]:
#bitwise Or operator
s|t    #add    0110

6

In [22]:
#bitwise is operator
a=4
b=4

a is b

True

In [23]:
a is not b

False

# 2. Conditional statements

In [30]:
#if statement
x=50
if x>0:
    print("x is",x)

x is 50

In [32]:
#if else statment
x=5
if x%2==0:
    print(x,"is even")
else:
    print(x,"is odd")
print("End of code")

5 is odd
End of code

In [34]:
#chained statements
x=35
if x>35:
    print(x,"is greater than 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

35 is equal to 35

In [35]:
#nested statements
x=35
if x>35:
    print(x,"is greater than 35")
else:
    if x<35:
        print(x,"is less than 35")
    else:
        print(x,"is equal to 35")

35 is equal to 35

In [37]:
x=35
if x>=35:
    if x==35:
        print(x,"is equal to 35")
    else:
        print(x,"is less than 35")
else:
    print(x,"is greater than 35")

35 is equal to 35

# 3. Looping statements

In [39]:
#for loop
n = [1,2,3,4,5]
for i in n:
    print(i)

1
2
3
4
5

In [43]:
names = ["lucky","ajay",68.90,58,10+30j]
for i in names:
    print(i)

lucky
ajay
68.9
58
(10+30j)

In [46]:
s="hello world"
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [48]:
#while loop
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [56]:
s="machine learning"
i=0
while i<len(s):
    d=s[i]
    print(d)
    i=i+1

m
a
c
h
i
n
e

l
e
a
r
n
i
n
g