In [ ]:
list = ["Paramjit", 30,35,40.50, "Mathematics"]

In [2]:
#append function
list.append("Harish")

In [3]:
print(list)

['Paramjit', 30, 35, 40.5, 'Mathematics', 'Harish']

In [4]:
#clear function
list.clear()

In [5]:
print(list)

[]

In [6]:
#new list of fruits
fruits = ["apple","Banana","mango","orange"]

In [7]:
print(fruits)

['apple', 'Banana', 'mango', 'orange']

In [8]:
#copy function
fruits2= fruits.copy()

In [9]:
print(fruits2)

['apple', 'Banana', 'mango', 'orange']

In [10]:
fruits.count("mango")

1

In [11]:
fruits.count()

TypeError: count() takes exactly one argument (0 given)

In [12]:
fruits.append("mango")
print(fruits)

['apple', 'Banana', 'mango', 'orange', 'mango']

In [13]:
fruits.count("mango")

2

In [15]:
#extend function

cars = ["Ford", "BMW", "Volvo"]
fruits.extend(cars)

In [16]:
print(fruits)

['apple', 'Banana', 'mango', 'orange', 'mango', 'Ford', 'BMW', 'Volvo', 'Ford', 'BMW', 'Volvo']

In [19]:
#index function 

fruits.index("orange")

3

In [20]:
fruits.index("BMW")

6

In [21]:
#insert function (insert orange at 3rd position)

fruits.insert(2, "orange")

In [22]:
print(fruits)

['apple', 'Banana', 'orange', 'mango', 'orange', 'mango', 'Ford', 'BMW', 'Volvo', 'Ford', 'BMW', 'Volvo']

In [23]:
#pop function (removes element from list)
fruits.pop(2)

'orange'

In [24]:
print(fruits)

['apple', 'Banana', 'mango', 'orange', 'mango', 'Ford', 'BMW', 'Volvo', 'Ford', 'BMW', 'Volvo']

In [25]:
#remove function

fruits.remove("Banana")

In [26]:
print(fruits)

['apple', 'mango', 'orange', 'mango', 'Ford', 'BMW', 'Volvo', 'Ford', 'BMW', 'Volvo']

In [27]:
#reverse function
fruits.reverse()
print(fruits)

['Volvo', 'BMW', 'Ford', 'Volvo', 'BMW', 'Ford', 'mango', 'orange', 'mango', 'apple']

In [28]:
#sort function
fruits.sort()
print(fruits)

['BMW', 'BMW', 'Ford', 'Ford', 'Volvo', 'Volvo', 'apple', 'mango', 'mango', 'orange']

# dictionary and its functions

In [30]:
cars = { "brand": "Ford","model": "Mustang","year": 1964 }
print(cars)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [31]:
#copy function
x = cars.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [32]:
#fromkeys function (Create a dictionary with 3 keys, all with the value 0)
x = ('key1', 'key2', 'key3')
y = 0

cars = dict.fromkeys(x, y)

print(cars)

{'key1': 0, 'key2': 0, 'key3': 0}

In [36]:
#new dictionary
cars = { "brand": "Ford","model": "Mustang","year": 1964 }
print(cars)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [38]:
cars.get("model")

'Mustang'

In [39]:
#items function

cars.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [40]:
#keys function

cars.keys()

dict_keys(['brand', 'model', 'year'])

In [41]:
#pops function

cars.pop("model")

print(cars)

{'brand': 'Ford', 'year': 1964}

In [42]:
#popitem function (removes last added item)

cars.popitem()

print(cars)

{'brand': 'Ford'}

In [43]:
#setdefault function

cars.setdefault("model", "Bronco")

'Bronco'

In [44]:
print(cars)

{'brand': 'Ford', 'model': 'Bronco'}

In [45]:
cars.setdefault("year", "1988")

'1988'

In [46]:
print(cars)

{'brand': 'Ford', 'model': 'Bronco', 'year': '1988'}

In [47]:
#update function

cars.update({"color": "White"})

print(cars)

{'brand': 'Ford', 'model': 'Bronco', 'year': '1988', 'color': 'White'}

In [49]:
#values function

cars.values()

dict_values(['Ford', 'Bronco', '1988', 'White'])

In [50]:
#clear function
cars.clear()

In [51]:
print(cars)

{}

# set and its default functions

In [53]:
#add function
fruits = {"apple", "banana", "orange"}
fruits.add("mango")
print(fruits)

{'banana', 'mango', 'apple', 'orange'}

In [54]:
#copy function
x = fruits.copy()

print(x)

{'banana', 'mango', 'apple', 'orange'}

In [55]:
#difference function
x = {"banana","mango","apple", "orange"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'mango', 'orange'}

In [61]:
#difference update 

a = {"banana", "mango","apple", "orange"}
b = {"google", "microsoft", "apple"}

a.difference_update(b)

print(a)

{'banana', 'mango', 'orange'}

In [62]:
#discard function

fruits.discard("banana")
print(fruits)

{'mango', 'apple', 'orange'}

In [63]:
#intersection method (return items that exists in both sets)

a = {"banana", "mango","apple", "orange"}
b = {"google", "microsoft", "apple"}

c = a.intersection(b)

print(c)

{'apple'}

In [65]:
#intersection_update function (remove items that exists in both sets)

a = {"banana", "mango","apple", "orange"}
b = {"google", "microsoft", "apple"}

a.intersection_update(b)

print(a)

{'apple'}

In [66]:
#isdisjoint function (Return True if no items in set a is present in set b)

a = {"banana", "mango","apple", "orange"}
b = {"google", "microsoft", "apple"}

c = a.isdisjoint(b)

print(c)

False

In [69]:
#issubset function (Return True if all items set x are present in set y)

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [71]:
#pop function(remove random item)
fruits = {"apple", "banana", "orange"}
fruits.pop()

print(fruits)

{'apple', 'orange'}

In [72]:
#remove function(remove specific item)
fruits = {"apple", "banana", "orange"}
fruits.remove("banana")

print(fruits)

{'apple', 'orange'}

In [73]:
#symmetric_difference method(Return a set that contains all items from both sets, except items that are present in both sets)

x = {"apple", "banana", "orange"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'orange', 'microsoft', 'banana', 'google'}

In [74]:
#symmetric_difference_update function(Remove the items that are present in both sets, 

x = {"apple", "banana", "orange"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'orange', 'microsoft', 'banana', 'google'}

In [75]:
#union function (Return a set that contains all items from both sets, excluding duplicates)

x = {"apple", "banana", "orange"}
y = {"google", "microsoft", "apple"}

x.union(y)

print(x)

{'banana', 'apple', 'orange'}

In [76]:
#update function(Insert the items from set y into set x)

x = {"apple", "banana", "orange"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'banana', 'orange', 'apple', 'google', 'microsoft'}